<%= simple_form_for [:elements, @provider], wrapper: :maxwell_horizontal_form, defaults: { grid_wrapper_html: { class: 'col-sm-9' } } do |f| %>
      <div class="card">
        <div class="card-header"><%= header %></div>
        <div class="card-body">
          <legend class="form-section">
            <i class="fa fa-user"></i> <%= t('.section.basic') %>
          </legend>
          
          <div class="form-group row string required">
            <%= f.input :name, wrapper: false, grid_wrapper_html: { class: 'col-sm-6' } %>
          </div>
          <div class="form-group row string required">
            <%= f.input :email, wrapper: false, grid_wrapper_html: { class: 'col-sm-6' } %>
          </div>
          <div class="form-group row string required">
            <%= f.input :website, wrapper: false, grid_wrapper_html: { class: 'col-sm-6' } %>
          </div>
        </div>

        <%# <div class="col-sm-12 col-md-12"> %>
        <%# -- seccion numero contacto --- %>
          <div class="card">
      
            <div class="card-body">
            <legend class="form-section">
              <i class="fa fa-phone"></i> <%= t('.section.phone') %>
            </legend>
                <%#  %>
                 <div data-controller="provider">
                    <div class="field" data-target="field">
                      <%= f.fields_for :contacts do |builder| %>
                       <%= render 'contact_fields', f: builder %>
                      <% end %>
                      <div data-action="click->provider#addContact">
                       <%= link_to_add_fields( t('.action.addPhone'), f,:contacts, class: 'btn btn-primary')  %>
                      </div>

                      

                    </div>
                 </div>
            </div>
          </div>
        <%# </div> %>
 
        <%# -- seccion direccion -- %>
          <div class="card">

            <div class="card-body">
            <legend class="form-section">
              <i class="fa fa-home"></i> <%= t('.section.address') %>
            </legend>
                 <div data-controller="address">
                    <div class="field" data-target="field">
                      <%= f.fields_for :addresses do |builder| %>
                       <%= render 'address_fields', f: builder %>
                      <% end %>
                      <div data-action="click->address#addAddress">
                       <%= link_to_add_fields( t('.action.addAddress'), f,:addresses)  %>
                      </div>
                    </div>
                 </div>
            </div>
          </div>

<%# impuestos %>
          <div class="card">
            <div class="card-body">


                    <legend class="form-section">
                      <i class="fa fa-home"></i> <%= t('.section.taxs') %>
                    </legend>
                    <div class="form-group row string required">
                      <%= f.input :identification_number, wrapper: false, grid_wrapper_html: { class: 'col-sm-3' } %>
                      <%= f.input :tax_category_number, wrapper: false, grid_wrapper_html: { class: 'col-sm-3' } %>
                    </div>

                    <hr>

                    <legend class="form-section">
                      <i class="fa fa-home"></i> <%= t('.section.withholding') %>
                    </legend>
                    <% for w in WithholdingTax.all %>
                      <%= check_box_tag "provider[withholding_tax_ids][]", w.id, @provider.withholding_taxes.include?(w) %>
                      <%=h w.withholding %><br />
                    <% end %>
            </div>
          </div>

 

 
        <div class="card-footer">
          <div class="float-right">
            <%= link_to t('.cancel'), elements_providers_path, class: 'btn btn-secondary' %>
            <%= f.button :submit, t('.submit'), class: 'btn btn-primary' %>
          </div>
        </div>
  

<% end %>
